/*-----------------------------------
                colors
------------------------------------*/
 $white:                  #FFFFFF;
 $black:                  #000000;
 $grey:                   #A3A3A3;
 $red:                    #FA5402;

/*-----------------------------------
                sizes
------------------------------------*/
$border-width:            1px;
$border-radius:           2px;
